
    {% extends 'base.html' %}
    {% block main_container %}
    <section id="main-slider" class="no-margin">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <h2 class="animation animated-item-1 fade-down">WE GONNA HELP YOU MAKE AN IMPACT</h2>
                                    <h4 class="animation animated-item-2 fade-up"> Short, Fast, Brevity </h4>
                                    <br>
                                    <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="location.href='/subscribe'"> Subscribe </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    {% endblock %}