
{% extends 'base.html' %}
{% block main_container %}
<div id="content-wrapper">
    <section id="blog" class="white">
        <div class="container">
        <div class="gap" style="padding-top:150px;"></div>
            <div class="row">
                <div class="col-md-4 fade-up">
                    <h3>Contact Information</h3>
                    <p><span class="icon icon-home"></span>Seoul, South Korea<br/>
                        <span class="icon icon-phone"></span>+82 1111 1111<br/>
                        <span class="icon icon-mobile"></span>+82 1111 1111<br/>
                        <span class="icon icon-envelop"></span><a href="#">contact@thedeal.com</a><br/>
                        <span class="icon icon-twitter"></span><a href="#">@infinityteam.com</a><br/>
                        <span class="icon icon-facebook"></span><a href="#">Infinity Agency</a><br/>
                    </p>
                </div>
                <div class="col-md-8 fade-up">
                    <div class="blog">
                        <div class="blog-item">
                            <div class="blog-content">
                                <div id="comments">
                                    <div id="comment-form">
                                        <h3  class="main-title">Know your info</h3>
                                        <hr>
                                        <!-- Begin Mailchimp Signup Form -->
                                        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                                        <style type="text/css">
                                            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                                            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                                            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                                        </style>
                                        <div id="mc_embed_signup">
                                        <form action="https://gmail.us1.list-manage.com/subscribe/post?u=fbd68949bc1244d557770fbfe&amp;id=81b86216d5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                            <div id="mc_embed_signup_scroll">
                                            <h2>Subscribe</h2>
                                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                        <div class="mc-field-group">
                                            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                        </label>
                                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                        </div>
                                        <div class="mc-field-group">
                                            <label for="mce-FNAME">First Name </label>
                                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                        </div>
                                        <div class="mc-field-group">
                                            <label for="mce-LNAME">Last Name </label>
                                            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                        </div>
                                        	<div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fbd68949bc1244d557770fbfe_81b86216d5" tabindex="-1" value=""></div>
                                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                            </div>
                                        </form>
                                        </div>
                                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                                        <!--End mc_embed_signup-->

                                        <!-- <form class="form-horizontal" role="form" method="post" action="/thanks">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" placeholder="Name" name="name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <input type="email" class="form-control" placeholder="Email" name="email">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <input type="phone" class="form-control" placeholder="Phone" name="phone">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <textarea rows="8" class="form-control" placeholder="Comment" name="comments"></textarea>
                                                </div>
                                            </div>
                                            <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
                                        </form> -->
                                    </div><!--/#comment-form-->
                                </div><!--/#comments-->
                            </div>
                        </div>
                    </div>
                </div><!--/.col-md-8-->
            </div><!--/.row-->
        </div>
    </section><!--/#blog-->
</div>
{% endblock %}