{% extends 'base.html' %}
{% block main_container %}
<section id="main-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="animation fade-down">WE NEARLY READY TO ROCK</h2>
                                <br>
                                <div id="countdown" class="animation fade-down"></div><!-- /#Countdown Div -->
                                <br>
                                <a class="btn btn-md animation bounce-in" href="/">Back to Main</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->
{% endblock %}